USE [master]
GO
/****** Object:  Database [insmartory]    Script Date: 14/11/2025 11:57:15 p. m. ******/
CREATE DATABASE [insmartory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'insmartory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\insmartory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'insmartory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\insmartory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [insmartory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [insmartory]
GO
/****** Object:  User [insmartory_user]    Script Date: 14/11/2025 11:57:15 p. m. ******/
CREATE USER [insmartory_user] FOR LOGIN [insmartory_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [insmartory_user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [insmartory_user]
GO
/****** Object:  Table [dbo].[alerta]    Script Date: 14/11/2025 11:57:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alerta](
	[id_alerta] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario_receptor] [int] NULL,
	[id_a_producto] [int] NULL,
	[id_a_sucursal] [int] NULL,
	[tipo] [varchar](20) NULL,
	[fecha] [date] NULL,
	[estado] [varchar](20) NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [pk_id_alerta] PRIMARY KEY CLUSTERED 
(
	[id_alerta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auditoria]    Script Date: 14/11/2025 11:57:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auditoria](
	[id_auditoria] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario_responsable] [int] NULL,
	[id_au_sucursal] [int] NULL,
	[tipo] [varchar](20) NULL,
	[fecha] [date] NULL,
	[descripcion] [varchar](100) NULL,
 CONSTRAINT [pk_id_auditoria] PRIMARY KEY CLUSTERED 
(
	[id_auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 14/11/2025 11:57:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[id_persona] [int] NULL,
 CONSTRAINT [pk_id_cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_compra]    Script Date: 14/11/2025 11:57:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_compra](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_d_compra] [int] NULL,
	[id_d_producto] [int] NULL,
	[cantidad] [int] NULL,
	[precio_unitario] [decimal](10, 2) NULL,
	[subtotal] [decimal](10, 2) NULL,
	[total] [decimal](10, 2) NULL,
	[id_dc_lote] [int] NULL,
 CONSTRAINT [pk_id_detalle] PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_factura]    Script Date: 14/11/2025 11:57:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_factura](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_d_factura] [int] NULL,
	[id_f_producto] [int] NULL,
	[cantidad] [int] NULL,
	[precio_unitario] [decimal](10, 2) NULL,
	[subtotal] [decimal](10, 2) NULL,
	[total] [decimal](10, 2) NULL,
	[id_df_lote] [int] NULL,
 CONSTRAINT [pk_id_detallee] PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discrepancia]    Script Date: 14/11/2025 11:57:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discrepancia](
	[id_discrepancia] [int] IDENTITY(1,1) NOT NULL,
	[id_dis_producto] [int] NULL,
	[id_dis_auditoria] [int] NULL,
	[categoria] [varchar](20) NULL,
	[tipo] [varchar](20) NULL,
	[fecha] [date] NULL,
	[cantidad_sistema] [int] NULL,
	[cantidad_fisica] [int] NULL,
	[diferencia] [int] NULL,
	[descripcion] [varchar](100) NULL,
	[id_dis_sucursal] [int] NULL,
 CONSTRAINT [pk_id_discrepancia] PRIMARY KEY CLUSTERED 
(
	[id_discrepancia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura]    Script Date: 14/11/2025 11:57:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[id_f_sucursal] [int] NULL,
	[no_factura] [int] NULL,
	[fecha_emision] [date] NULL,
	[subtotal] [decimal](10, 2) NULL,
	[iva] [decimal](10, 2) NULL,
	[total] [decimal](10, 2) NULL,
	[id_f_cliente] [int] NULL,
	[id_f_usuario] [int] NULL,
 CONSTRAINT [pk_id_factura] PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventario]    Script Date: 14/11/2025 11:57:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario](
	[id_inventario] [int] IDENTITY(1,1) NOT NULL,
	[id_i_sucursal] [int] NULL,
	[id_i_producto] [int] NULL,
	[id_i_lote] [int] NULL,
	[fecha_actualizacion] [date] NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [pk_id_inventario] PRIMARY KEY CLUSTERED 
(
	[id_inventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lote]    Script Date: 14/11/2025 11:57:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lote](
	[id_lote] [int] IDENTITY(1,1) NOT NULL,
	[id_l_producto] [int] NULL,
	[id_l_sucursal] [int] NULL,
	[no_lote] [int] NULL,
	[cantidad_lote] [int] NULL,
	[vencimiento] [date] NULL,
	[recepcion] [date] NULL,
 CONSTRAINT [pk_id_lote] PRIMARY KEY CLUSTERED 
(
	[id_lote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orden_compra]    Script Date: 14/11/2025 11:57:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orden_compra](
	[id_orden] [int] IDENTITY(1,1) NOT NULL,
	[id_o_proveedor] [int] NULL,
	[id_o_sucursal] [int] NULL,
	[estado] [varchar](10) NULL,
	[fecha_orden] [date] NULL,
	[subtotal] [decimal](10, 2) NULL,
	[iva] [decimal](10, 2) NULL,
	[total] [decimal](10, 2) NULL,
	[id_gerente_responsable] [int] NULL,
 CONSTRAINT [pk_id_orden] PRIMARY KEY CLUSTERED 
(
	[id_orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 14/11/2025 11:57:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[id_persona] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[correo] [varchar](100) NULL,
	[telefono] [varchar](10) NULL,
 CONSTRAINT [pk_id_persona] PRIMARY KEY CLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 14/11/2025 11:57:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre_producto] [varchar](50) NULL,
	[categoria] [varchar](30) NULL,
	[precio_unitario] [decimal](10, 2) NULL,
	[unidad_medida] [varchar](10) NULL,
	[umbral_minimo] [int] NULL,
	[estado] [varchar](10) NULL,
 CONSTRAINT [pk_id_producto] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 14/11/2025 11:57:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[direccion] [varchar](50) NULL,
	[condiciones_pago] [varchar](20) NULL,
	[representante] [varchar](50) NULL,
	[representante_tlf] [varchar](10) NULL,
	[id_p_persona] [int] NULL,
 CONSTRAINT [pk_id_proveedor] PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [proveedor_representante_tlf] UNIQUE NONCLUSTERED 
(
	[representante_tlf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sucursal]    Script Date: 14/11/2025 11:57:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursal](
	[id_sucursal] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
	[ubicacion] [varchar](20) NULL,
 CONSTRAINT [pk_id_sucursal] PRIMARY KEY CLUSTERED 
(
	[id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaccion]    Script Date: 14/11/2025 11:57:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaccion](
	[id_transaccion] [int] IDENTITY(1,1) NOT NULL,
	[id_t_producto] [int] NULL,
	[id_t_sucursal] [int] NULL,
	[tipo] [varchar](10) NULL,
	[fecha] [date] NULL,
	[cantidad] [int] NULL,
	[id_trans_lote] [int] NULL,
	[referencia] [nvarchar](50) NULL,
	[id_t_usuario] [int] NULL,
 CONSTRAINT [pk_id_transaccion] PRIMARY KEY CLUSTERED 
(
	[id_transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 14/11/2025 11:57:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_u_persona] [int] NULL,
	[id_empleado] [int] NULL,
	[contrasena] [varchar](255) NULL,
	[estado] [varchar](10) NULL,
	[nombre_usuario] [varchar](20) NULL,
	[rol] [varchar](25) NULL,
 CONSTRAINT [pk_id_usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[alerta] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[auditoria] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[factura] ADD  DEFAULT (getdate()) FOR [fecha_emision]
GO
ALTER TABLE [dbo].[orden_compra] ADD  DEFAULT (getdate()) FOR [fecha_orden]
GO
ALTER TABLE [dbo].[producto] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[transaccion] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[usuario] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[alerta]  WITH CHECK ADD  CONSTRAINT [fk_a_producto] FOREIGN KEY([id_a_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[alerta] CHECK CONSTRAINT [fk_a_producto]
GO
ALTER TABLE [dbo].[alerta]  WITH CHECK ADD  CONSTRAINT [fk_id_a_sucursal] FOREIGN KEY([id_a_sucursal])
REFERENCES [dbo].[sucursal] ([id_sucursal])
GO
ALTER TABLE [dbo].[alerta] CHECK CONSTRAINT [fk_id_a_sucursal]
GO
ALTER TABLE [dbo].[alerta]  WITH CHECK ADD  CONSTRAINT [fk_id_usuario_receptor] FOREIGN KEY([id_usuario_receptor])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[alerta] CHECK CONSTRAINT [fk_id_usuario_receptor]
GO
ALTER TABLE [dbo].[auditoria]  WITH CHECK ADD  CONSTRAINT [fk_id_au_sucursal] FOREIGN KEY([id_au_sucursal])
REFERENCES [dbo].[sucursal] ([id_sucursal])
GO
ALTER TABLE [dbo].[auditoria] CHECK CONSTRAINT [fk_id_au_sucursal]
GO
ALTER TABLE [dbo].[auditoria]  WITH CHECK ADD  CONSTRAINT [fk_id_usuario_responsable] FOREIGN KEY([id_usuario_responsable])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[auditoria] CHECK CONSTRAINT [fk_id_usuario_responsable]
GO
ALTER TABLE [dbo].[cliente]  WITH CHECK ADD  CONSTRAINT [fk_id_persona] FOREIGN KEY([id_persona])
REFERENCES [dbo].[persona] ([id_persona])
GO
ALTER TABLE [dbo].[cliente] CHECK CONSTRAINT [fk_id_persona]
GO
ALTER TABLE [dbo].[detalle_compra]  WITH CHECK ADD  CONSTRAINT [fk_id_d_compra] FOREIGN KEY([id_d_compra])
REFERENCES [dbo].[orden_compra] ([id_orden])
GO
ALTER TABLE [dbo].[detalle_compra] CHECK CONSTRAINT [fk_id_d_compra]
GO
ALTER TABLE [dbo].[detalle_compra]  WITH CHECK ADD  CONSTRAINT [fk_id_d_producto] FOREIGN KEY([id_d_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[detalle_compra] CHECK CONSTRAINT [fk_id_d_producto]
GO
ALTER TABLE [dbo].[detalle_compra]  WITH CHECK ADD  CONSTRAINT [fk_id_dc_lote] FOREIGN KEY([id_dc_lote])
REFERENCES [dbo].[lote] ([id_lote])
GO
ALTER TABLE [dbo].[detalle_compra] CHECK CONSTRAINT [fk_id_dc_lote]
GO
ALTER TABLE [dbo].[detalle_factura]  WITH CHECK ADD  CONSTRAINT [fk_id_d_factura] FOREIGN KEY([id_d_factura])
REFERENCES [dbo].[factura] ([id_factura])
GO
ALTER TABLE [dbo].[detalle_factura] CHECK CONSTRAINT [fk_id_d_factura]
GO
ALTER TABLE [dbo].[detalle_factura]  WITH CHECK ADD  CONSTRAINT [fk_id_df_lote] FOREIGN KEY([id_df_lote])
REFERENCES [dbo].[lote] ([id_lote])
GO
ALTER TABLE [dbo].[detalle_factura] CHECK CONSTRAINT [fk_id_df_lote]
GO
ALTER TABLE [dbo].[detalle_factura]  WITH CHECK ADD  CONSTRAINT [fk_id_f_producto] FOREIGN KEY([id_f_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[detalle_factura] CHECK CONSTRAINT [fk_id_f_producto]
GO
ALTER TABLE [dbo].[discrepancia]  WITH CHECK ADD  CONSTRAINT [fk_id_dis_auditoria] FOREIGN KEY([id_dis_auditoria])
REFERENCES [dbo].[auditoria] ([id_auditoria])
GO
ALTER TABLE [dbo].[discrepancia] CHECK CONSTRAINT [fk_id_dis_auditoria]
GO
ALTER TABLE [dbo].[discrepancia]  WITH CHECK ADD  CONSTRAINT [fk_id_dis_producto] FOREIGN KEY([id_dis_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[discrepancia] CHECK CONSTRAINT [fk_id_dis_producto]
GO
ALTER TABLE [dbo].[discrepancia]  WITH CHECK ADD  CONSTRAINT [fk_id_dis_sucursal] FOREIGN KEY([id_dis_sucursal])
REFERENCES [dbo].[sucursal] ([id_sucursal])
GO
ALTER TABLE [dbo].[discrepancia] CHECK CONSTRAINT [fk_id_dis_sucursal]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [fk_id_f_cliente] FOREIGN KEY([id_f_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [fk_id_f_cliente]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [fk_id_f_sucursal] FOREIGN KEY([id_f_sucursal])
REFERENCES [dbo].[sucursal] ([id_sucursal])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [fk_id_f_sucursal]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [fk_id_f_usuario] FOREIGN KEY([id_f_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [fk_id_f_usuario]
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD  CONSTRAINT [fk_id_i_lote] FOREIGN KEY([id_i_lote])
REFERENCES [dbo].[lote] ([id_lote])
GO
ALTER TABLE [dbo].[inventario] CHECK CONSTRAINT [fk_id_i_lote]
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD  CONSTRAINT [fk_id_i_producto] FOREIGN KEY([id_i_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[inventario] CHECK CONSTRAINT [fk_id_i_producto]
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD  CONSTRAINT [fk_id_i_sucursal] FOREIGN KEY([id_i_sucursal])
REFERENCES [dbo].[sucursal] ([id_sucursal])
GO
ALTER TABLE [dbo].[inventario] CHECK CONSTRAINT [fk_id_i_sucursal]
GO
ALTER TABLE [dbo].[lote]  WITH CHECK ADD  CONSTRAINT [fk_id_l_producto] FOREIGN KEY([id_l_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[lote] CHECK CONSTRAINT [fk_id_l_producto]
GO
ALTER TABLE [dbo].[lote]  WITH CHECK ADD  CONSTRAINT [fk_id_l_sucursal] FOREIGN KEY([id_l_sucursal])
REFERENCES [dbo].[sucursal] ([id_sucursal])
GO
ALTER TABLE [dbo].[lote] CHECK CONSTRAINT [fk_id_l_sucursal]
GO
ALTER TABLE [dbo].[orden_compra]  WITH CHECK ADD  CONSTRAINT [fk_id_o_proveedor] FOREIGN KEY([id_o_proveedor])
REFERENCES [dbo].[proveedor] ([id_proveedor])
GO
ALTER TABLE [dbo].[orden_compra] CHECK CONSTRAINT [fk_id_o_proveedor]
GO
ALTER TABLE [dbo].[orden_compra]  WITH CHECK ADD  CONSTRAINT [fk_id_o_sucursal] FOREIGN KEY([id_o_sucursal])
REFERENCES [dbo].[sucursal] ([id_sucursal])
GO
ALTER TABLE [dbo].[orden_compra] CHECK CONSTRAINT [fk_id_o_sucursal]
GO
ALTER TABLE [dbo].[orden_compra]  WITH CHECK ADD  CONSTRAINT [fk_id_responsable] FOREIGN KEY([id_gerente_responsable])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[orden_compra] CHECK CONSTRAINT [fk_id_responsable]
GO
ALTER TABLE [dbo].[proveedor]  WITH CHECK ADD  CONSTRAINT [fk_id_p_persona] FOREIGN KEY([id_p_persona])
REFERENCES [dbo].[persona] ([id_persona])
GO
ALTER TABLE [dbo].[proveedor] CHECK CONSTRAINT [fk_id_p_persona]
GO
ALTER TABLE [dbo].[transaccion]  WITH CHECK ADD  CONSTRAINT [fk_id_t_producto] FOREIGN KEY([id_t_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[transaccion] CHECK CONSTRAINT [fk_id_t_producto]
GO
ALTER TABLE [dbo].[transaccion]  WITH CHECK ADD  CONSTRAINT [fk_id_t_usuario] FOREIGN KEY([id_t_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[transaccion] CHECK CONSTRAINT [fk_id_t_usuario]
GO
ALTER TABLE [dbo].[transaccion]  WITH CHECK ADD  CONSTRAINT [fk_id_trans_lote] FOREIGN KEY([id_trans_lote])
REFERENCES [dbo].[lote] ([id_lote])
GO
ALTER TABLE [dbo].[transaccion] CHECK CONSTRAINT [fk_id_trans_lote]
GO
ALTER TABLE [dbo].[transaccion]  WITH CHECK ADD  CONSTRAINT [fk_t_sucursal] FOREIGN KEY([id_t_sucursal])
REFERENCES [dbo].[sucursal] ([id_sucursal])
GO
ALTER TABLE [dbo].[transaccion] CHECK CONSTRAINT [fk_t_sucursal]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [fk_id_u_persona] FOREIGN KEY([id_u_persona])
REFERENCES [dbo].[persona] ([id_persona])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [fk_id_u_persona]
GO
ALTER TABLE [dbo].[alerta]  WITH CHECK ADD CHECK  (([estado]='Resuelta' OR [estado]='Pendiente'))
GO
ALTER TABLE [dbo].[alerta]  WITH CHECK ADD CHECK  (([tipo]='Discrepancia' OR [tipo]='Proximo a vencer' OR [tipo]='Stock bajo'))
GO
ALTER TABLE [dbo].[auditoria]  WITH CHECK ADD CHECK  (([tipo]='Configuracion' OR [tipo]='Usuarios' OR [tipo]='Proveedores' OR [tipo]='Proximo a vencer' OR [tipo]='Transacciones' OR [tipo]='Inventario fisico'))
GO
ALTER TABLE [dbo].[discrepancia]  WITH CHECK ADD CHECK  (([tipo]='Excedente' OR [tipo]='Vencido' OR [tipo]='Faltante'))
GO
ALTER TABLE [dbo].[orden_compra]  WITH CHECK ADD CHECK  (([estado]='Cancelada' OR [estado]='Recibida' OR [estado]='Pendiente'))
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[transaccion]  WITH CHECK ADD CHECK  (([tipo]='Ajuste' OR [tipo]='Salida' OR [tipo]='Entrada'))
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD CHECK  (([rol]='Encargado de inventario' OR [rol]='Gerente de operaciones' OR [rol]='Administrador'))
GO
USE [master]
GO
